body {
	background-color:black;
}

h1 {
	font-family:Arial;
}

h2 {
	font-family:Arial;
}

h3 {
	font-family:Arial;
}

a {
	color:/*light grey*/;
}

h1, h2, h3 {
	text-align:center;
	color:white;
}

div.actual-content {
	margin-right:100px:
}
