body {
	background-color:black;
}

h1 {
	font-family:Arial;
	text-align:center;
}

h2 {
	font-family:Arial;
}

h3 {
	font-family:Arial;
}

a {
	color:#eeeeee;
}

h1, h2, h3 {
	color:white;
}

div.actual-content {
	margin-left:50px:
}
